<nav id="navbar_includer" class="navbar navbar-expand-lg navbar-fixed navbar-default">
  <div class="navbar-inner">

    <div class="navbar-intro">
      <!-- Toogle button -->
      <button type="button" (click)="onToogleSidebar()"
              class="btn btn-burger burger-arrowed static collapsed ml-2 d-flex"
              data-toggle="sidebar" data-toggle-mobile="sidebar" data-target="#sidebar"
              aria-controls="sidebar" aria-expanded="false" aria-label="Toggle sidebar">
        <span class="bars" *ngIf="!isSidebarOpened"></span>
        <span *ngIf="isSidebarOpened">
          <span class="fa fa-arrow-left text-120"></span>
        </span>
      </button>

      <!-- Brand image -->
      <img src="../../assets/image/logo_feelathome.png" alt="logo">
    </div>

    <!-- User logo on lg- displays -->
    <button class="navbar-toggler ml-1 mr-2 px-1" type="button" 
            data-toggle="collapse" data-target="#navbarMenu"
            aria-controls="navbarMenu" aria-expanded="false" aria-label="Toggle navbar menu">
      <span class="pos-rel">
        <img class="border-2 brc-white-tp1 radius-round" width="36" src="../../assets/image/user_feelathome.png" alt="">
        <span class="bgc-warning radius-round border-2 brc-white p-1 position-tr mr-1px mt-1px"></span>
      </span>
    </button>

    <!-- User logo on lg+ displays -->
    <div class="navbar-menu collapse navbar-collapse navbar-backdrop" id="navbarMenu">

      <div class="navbar-nav">
        <ul class="nav">

          <li class="nav-item dropdown order-first order-lg-last">
            <!-- User logo on xl displays and on lg- dropdown -->
            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
              <img id="id-navbar-user-image" class="d-none d-lg-inline-block radius-round border-2 brc-white-tp1 mr-2" src="../../assets/image/user_feelathome.png" alt="">
              <span class="d-inline-block d-lg-none d-xl-inline-block">
                <span class="text-80">{{ username }}</span>
              </span>

              <span class="caret fa fa-angle-down d-none d-xl-block"></span>
              <span class="caret fa fa-angle-left d-block d-lg-none"></span>
            </a>

            <!-- User logo on lg display -->
            <div class="dropdown-menu dropdown-caret dropdown-menu-right dropdown-animated brc-primary-m3">
              <div class="d-none d-lg-block d-xl-none">
                <div class="dropdown-header">
                  <span class="text-80">{{ username }}</span>
                </div>
                <div class="dropdown-divider"></div>
              </div>

              <a class="dropdown-item btn btn-outline-grey btn-h-lighter-secondary btn-a-lighter-secondary" (click)="onLogout()">
                <span class="fa fa-power-off text-warning-d1 text-105 mr-1"></span> Logout
              </a>
            </div>
          </li>

        </ul>
      </div>

    </div>

  </div>
</nav>
