<!-- Header on lg+ displays -->
<div class="d-none d-lg-block col-md-6 offset-md-3 mt-lg-4 px-0">
  <h4 class="text-dark-tp4 border-b-1 brc-grey-l1 pb-1 text-130">
    <span class="fa fa-coffee text-orange-m2 mr-1"></span>
    Bentornato
  </h4>
</div>

<!-- Header on lg- displays -->
<div class="d-lg-none text-secondary-m1 my-4 text-center">
  <h1 class="mt-5"></h1>
  <h2 class="text-blue-d1">
    {{ project }}
  </h2>

  Bentornato
</div>

<!-- Login form body -->
<form class="form-row mt-4" [formGroup]="form" (ngSubmit)="onLogin()">
  <div class="form-group col-md-6 offset-md-3">
    <div class="d-flex align-items-center input-floating-label text-blue-m1 brc-blue-m2">
      <input type="text" autocomplete="off" formControlName="email"
             class="form-control form-control-lg pr-4 shadow-none" id="id-login-email">
      <span class="fa fa-envelope text-grey-m2 ml-n4"></span>
      <label for="id-login-email" *ngIf="form.value.email === ''"
             class="floating-label text-grey-l1 text-100 ml-n3">Email</label>
    </div>
  </div>

  <div class="form-group col-md-6 offset-md-3 mt-2 mt-md-1">
    <div class="d-flex align-items-center input-floating-label text-blue-m1 brc-blue-m2">
      <input [type]="showPassword ? 'text' : 'password'" autocomplete="off" formControlName="password"
             class="form-control form-control-lg pr-4 shadow-none" id="id-login-password">
      <span class="fa text-grey-m2 ml-n4" [ngClass]="showPassword ? 'fa-eye-slash' : 'fa-eye'" (click)="showHidePassword()"></span>
      <label for="id-login-password" *ngIf="form.value.password === ''"
             class="floating-label text-grey-l1 text-100 ml-n3">Password</label>
    </div>
  </div>

  <div class="form-group col-md-6 offset-md-3">
    <button class="btn btn-info btn-block btn-md btn-bold mt-2 mb-4" [disabled]="!form.valid">
      Login
    </button>
  </div>
</form>

<div class="form-row" *ngIf="error">
  <div class="col-12 col-md-6 offset-md-3 d-flex flex-column align-items-center justify-content-center">
    <hr class="brc-default-m4 mt-0 mb-2 w-100">

    <div class="p-0 px-md-2 my-3 text-danger-m2 text-600" *ngIf="invalidCredential">
      Email o password non valide
    </div> 
    <div class="p-0 px-md-2 my-3 text-danger-m2 text-600" *ngIf="!invalidCredential">
      Si è verificato un errore
    </div> 
  </div>
</div>