<div class="col-12 tabbable">
  <!-- Tabs -->
  <ul class="nav nav-tabs nav-tabs-simple nav-tabs-scroll border-b-1 brc-secondary-l2 mx-n3 mx-md-0 px-3 px-md-0" role="tablist">
    <li class="nav-item" *ngFor="let language of multilanguage; let i = index">
      <a class="nav-link text-left radius-0" [ngClass]="i === 0 ? 'active' : ''"
          [id]="language.locale + '-tab'" [href]="'#' + language.locale"
          data-toggle="tab" role="tab">
        <i class="fa fa-flag text-blue-m1 mr-3px" [ngClass]="language.locale === 'it' ? 'fa-flag' : 'fa-flag-usa text-pink-m2'">
        </i> {{ language.locale === 'it' ? 'Italiano' : 'Inglese'}}
      </a>
    </li>
  </ul>

  <!-- Content -->
  <div class="tab-content px-0 mx-n3 mx-md-0">
    <div *ngFor="let language of multilanguage; let i = index" [id]="language.locale" role="tabpanel" aria-labelledby="home-tab"
         class="tab-pane fade" [ngClass]="i === 0 ? 'show active' : ''">
      <div class="form-group row">
        <div class="mb-1 mb-sm-0 col-sm-3 col-form-label text-sm-right pr-0">
          <label class="mb-0">Nome</label>
        </div>
        <div class="col-sm-9 input-floating-label text-blue-d1 brc-blue-m1">
          <textarea class="form-control col-sm-8 col-md-6" placeholder=""
                    [ngClass]="canSave ? 'ng-valid' : 'ng-invalid'"
                    [id]="'id-textarea-name-' + language.locale" maxlength="70"
                    (keyup)="updateName($event, i)"
          >{{ language.name }}</textarea>
        </div>
      </div>
      <div class="form-group row">
        <div class="mb-1 mb-sm-0 col-sm-3 col-form-label text-sm-right pr-0">
          <label class="mb-0">Breve Descrizione</label>
        </div>
        <div class="col-sm-9 input-floating-label text-blue-d1 brc-blue-m1">
          <textarea class="form-control col-sm-8 col-md-6" placeholder=""
                    [ngClass]="canSave ? 'ng-valid' : 'ng-invalid'"
                    [id]="'id-textarea-shortdesc-' + language.locale" maxlength="250"
                    (keyup)="updateShortDescription($event, i)"
          >{{ language.shortDesc }}</textarea>
        </div>
      </div>
      <div class="form-group row">
        <div class="mb-1 mb-sm-0 col-sm-3 col-form-label text-sm-right pr-0">
          <label class="mb-0">Lunga Descrizione</label>
        </div>
        <div class="col-sm-9 input-floating-label text-blue-d1 brc-blue-m1">
          <textarea class="form-control col-sm-8 col-md-6 ng-valid" placeholder=""
                    [id]="'id-textarea-longdesc-' + language.locale"
                    (keyup)="updateLongDescription($event, i)"
          >{{ language.longDesc }}</textarea>
        </div>
      </div>
    </div>
  </div>
</div>