<!-- Header -->
<div class="page-header">
  <h1 class="page-title text-primary-d2">
    <span (click)="goBack()">Angel</span>
    <small class="page-info text-secondary-d2">
      <span class="fa fa-angle-double-right text-80"></span>
      {{ isEditing ? 'Modifica' : 'Inserimento' }}
    </small>
  </h1>
  <div>
    <button class="btn btn-danger btn-sm" type="button" (click)="goBack()">
      <span class="fa fa-times mr-1"></span>
      Chiudi
    </button>
  </div>
</div>

<!-- Content -->
<div class="row">
  <div class="col-12">
    <!-- Form -->
    <div class="card">
      <div class="card-body px-2">
        <div class="col-12 tabs-above">
          <!-- Tabs label -->
          <ul class="nav nav-tabs nav-justified" role="tablist">
            <!-- Info label -->
            <li class="nav-item mr-1px">
              <a
                class="nav-link active text-left radius-0"
                id="home-tab"
                data-toggle="tab"
                href="#info"
                role="tab"
                aria-controls="home"
                aria-selected="true"
              >
                <span class="fa fa-edit text-blue-m1 mr-3px"></span>
                Informazioni Base
              </a>
            </li>
            <!-- Multilanguage label -->
            <li class="nav-item">
              <a
                class="nav-link text-left radius-0"
                id="profile-tab"
                data-toggle="tab"
                href="#multilanguage"
                role="tab"
                aria-controls="profile"
                aria-selected="false"
              >
                <span class="fa fa-flag text-pink-m2 mr-3px"></span>
                Multilingua
              </a>
            </li>
          </ul>

          <!-- Tabs content -->
          <div class="tab-content rounded-bottom">
            <!-- Info content -->
            <div
              class="tab-pane fade show active"
              id="info"
              role="tabpanel"
              aria-labelledby="home-tab"
            >
              <form [formGroup]="form" (change)="verifyCanSave()">
                <div class="form-group row">
                  <div
                    class="mb-1 mb-sm-0 col-sm-3 col-form-label text-sm-right pr-0"
                  >
                    <label for="id-form-field-name" class="mb-0">Nome</label>
                  </div>
                  <div
                    class="col-sm-9 input-floating-label text-blue-d1 brc-blue-m1"
                  >
                    <input
                      formControlName="name"
                      type="text"
                      class="form-control col-sm-8 col-md-6"
                      id="id-form-field-name"
                    />
                  </div>
                </div>
                <div class="form-group row">
                  <div
                    class="mb-1 mb-sm-0 col-sm-3 col-form-label text-sm-right pr-0"
                  >
                    <label for="id-form-field-surname" class="mb-0"
                      >Cognome</label
                    >
                  </div>
                  <div
                    class="col-sm-9 input-floating-label text-blue-d1 brc-blue-m1"
                  >
                    <input
                      formControlName="surname"
                      type="text"
                      class="form-control col-sm-8 col-md-6"
                      id="id-form-field-surname"
                    />
                  </div>
                </div>
                <div class="form-group row">
                  <div
                    class="mb-1 mb-sm-0 col-sm-3 col-form-label text-sm-right pr-0"
                  >
                    <label for="id-form-field-birthdate" class="mb-0"
                      >Data di nascita</label
                    >
                  </div>
                  <div
                    class="col-sm-9 input-floating-label text-blue-d1 brc-blue-m1"
                  >
                    <input
                      formControlName="birthDate"
                      placeholder="GG/MM/YYYY"
                      type="text"
                      class="form-control form-control-lg col-sm-8 col-md-6 shadow-none"
                      id="date"
                      style="font-size: 1rem;"
                    />
                  </div>
                </div>
                <div class="form-group row">
                  <div
                    class="mb-1 mb-sm-0 col-sm-3 col-form-label text-sm-right pr-0"
                  >
                    <label for="id-form-field-phone" class="mb-0"
                      >Telefono</label
                    >
                  </div>
                  <div
                    class="col-sm-9 input-floating-label text-blue-d1 brc-blue-m1"
                  >
                    <input
                      formControlName="phoneNumber"
                      placeholder="3334567890"
                      type="text"
                      class="form-control col-sm-8 col-md-6"
                      id="id-form-field-phone"
                    />
                  </div>
                </div>
                <div class="form-group row">
                  <div
                    class="mb-1 mb-sm-0 col-sm-3 col-form-label text-sm-right pr-0"
                  >
                    <label for="id-form-field-image" class="mb-0">Foto</label>
                  </div>
                  <div
                    class="col-sm-9 input-floating-label text-blue-d1 brc-blue-m1"
                  >
                    <div class="row ml-0 align-items-center">
                      <div class="col-10 col-sm-8 col-md-6 ml-0 pl-0">
                        <label class="ace-file-input">
                          <input
                            type="file"
                            class="ace-file-input"
                            id="file"
                            autocomplete="off"
                            (change)="retrieveFile($event)"
                          />
                          <div
                            class="ace-file-container d-flex flex-column border-1 brc-grey-l2 brc-h-warning-m1"
                          >
                            <div class="ace-file-placeholder h-100">
                              <span
                                class="ace-file-icon align-self-center mx-2px"
                                *ngIf="!imageFile"
                              >
                                <span
                                  class="fa fa-upload bgc-grey-m1 text-white w-4 py-2 text-center"
                                ></span>
                              </span>
                              <span
                                class="ace-file-icon align-self-center mx-2px"
                                *ngIf="imageFile"
                              >
                                <span
                                  class="fa fa-image bgc-purple-m1 text-white w-4 py-2 text-center"
                                ></span>
                              </span>
                              <span
                                class="ace-file-name text-grey-m2 px-1"
                                *ngIf="imageFile === ''"
                                >No file chosen</span
                              >
                              <span
                                class="ace-file-name text-grey-m2 px-1"
                                *ngIf="imageFile !== ''"
                                >{{ imageFile }}</span
                              >
                              <span
                                class="ace-file-btn ml-auto bgc-default text-white px-2 pt-2 text-90 my-1px mr-1px"
                                >Choose</span
                              >
                            </div>
                          </div>
                        </label>
                      </div>
                      <div class="col-2 col-sm-4 col-md-6">
                        <span
                          *ngIf="imageFile !== ''"
                          (click)="onRemoveImage()"
                        >
                          <span
                            class="fa fa-times text-danger-m2 text-130"
                          ></span>
                        </span>
                      </div>
                    </div>
                  </div>
                </div>
              </form>
              <form [formGroup]="authDataForm" (change)="verifyCanSave()">
                <div class="form-group row">
                  <div
                    class="mb-1 mb-sm-0 col-sm-3 col-form-label text-sm-right pr-0"
                  >
                    <label for="id-form-field-email" class="mb-0">Email</label>
                  </div>
                  <div
                    class="col-sm-9 input-floating-label text-blue-d1 brc-blue-m1"
                  >
                    <input
                      formControlName="email"
                      type="email"
                      class="form-control col-sm-8 col-md-6"
                      id="id-form-field-email"
                    />
                  </div>
                </div>
                <div class="form-group row" *ngIf="!isEditing">
                  <div
                    class="mb-1 mb-sm-0 col-sm-3 col-form-label text-sm-right pr-0"
                  >
                    <label for="id-form-field-password" class="mb-0"
                      >Password</label
                    >
                  </div>
                  <div
                    class="col-sm-9 input-floating-label text-blue-d1 brc-blue-m1"
                  >
                    <input
                      formControlName="password"
                      type="text"
                      class="form-control col-sm-8 col-md-6"
                      id="id-form-field-password"
                    />
                  </div>
                </div>
              </form>
            </div>
            <!-- Multilanguage content -->
            <div
              class="tab-pane fade"
              id="multilanguage"
              role="tabpanel"
              aria-labelledby="profile-tab"
            >
              <div class="col-12 tabbable">
                <!-- Language label -->
                <ul
                  class="nav nav-tabs nav-tabs-simple nav-tabs-scroll border-b-1 brc-secondary-l2 mx-n3 mx-md-0 px-3 px-md-0"
                  role="tablist"
                >
                  <li
                    class="nav-item"
                    *ngFor="let language of descriptions; let i = index"
                  >
                    <a
                      class="nav-link text-left radius-0"
                      [ngClass]="i === 0 ? 'active' : ''"
                      [id]="language.locale + '-tab'"
                      [href]="'#' + language.locale"
                      data-toggle="tab"
                      role="tab"
                    >
                      <span
                        class="fa fa-flag text-blue-m1 mr-3px"
                        [ngClass]="
                          language.locale === 'it'
                            ? 'fa-flag'
                            : 'fa-flag-usa text-pink-m2'
                        "
                      >
                      </span>
                      {{ language.locale === 'it' ? 'Italiano' : 'Inglese' }}
                    </a>
                  </li>
                </ul>

                <!-- Language content -->
                <div class="tab-content px-0 mx-n3 mx-md-0">
                  <div
                    *ngFor="let language of descriptions; let i = index"
                    [id]="language.locale"
                    role="tabpanel"
                    aria-labelledby="home-tab"
                    class="tab-pane fade"
                    [ngClass]="i === 0 ? 'show active' : ''"
                  >
                    <div class="form-group row">
                      <div
                        class="mb-1 mb-sm-0 col-sm-3 col-form-label text-sm-right pr-0"
                      >
                        <label for="id-form-field-long-desc" class="mb-0"
                          >Descrizione</label
                        >
                      </div>
                      <div
                        class="col-sm-9 input-floating-label text-blue-d1 brc-blue-m1"
                      >
                        <textarea
                          class="form-control col-sm-8 col-md-6"
                          placeholder=""
                          [ngClass]="
                            hasDescriptions ? 'ng-valid' : 'ng-invalid'
                          "
                          [id]="'id-textarea-' + language.locale"
                          (keyup)="updateDescription($event, i)"
                          >{{ language.longDesc }}</textarea
                        >
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Save section -->
      <div class="col-12 mt-1 border-1 brc-secondary-l1 bgc-secondary-l3 py-3">
        <div class="row justify-content-end">
          <div class="col-9 col-md-10" *ngIf="isEditing">
            <button class="btn btn-light-blue" disabled>
              <span class="fa fa-envelope mr-1"></span>
              Cambia email
            </button>
            <button class="btn btn-light-danger ml-1" disabled>
              <span class="fa fa-key mr-1"></span>
              Resetta password
            </button>
          </div>
          <div class="col-3 col-md-2 text-right">
            <button
              class="btn btn-warning"
              (click)="onSubmit()"
              [disabled]="!canSave"
            >
              <span class="fa fa-save mr-1"></span>
              Salva
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
