.login-bg {
    background-image: linear-gradient(#6baace, #264783);
    background-attachment: fixed;
    background-repeat: no-repeat;
}

.carousel-item > div {
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.bg-image {
    background-image: url(../../assets/image/login-bg-1.svg);
}