<div class="body-container login-bg">

  <div class="main-container container">

    <div role="main" class="main-content minh-100 justify-content-center">
      <div class="p-2 p-md-4">
        <div class="row">
          <div class="shadow radius-1 overflow-hidden bg-white col-12 col-lg-10 offset-lg-1">

            <!-- Main login box -->
            <div class="row">

              <!-- Left side with logos -->
              <div class="d-none d-lg-flex col-lg-5 border-r-1 brc-default-l2 px-0">
                <div class="carousel slide minw-100 h-100">

                  <div class="carousel-inner minw-100 h-100">
                    <div class="carousel-item active minw-100 h-100">
                      <div class="bgc-primary-l4 d-flex flex-column align-items-center justify-content-center bg-image">
                        <h1 class="mt-5"></h1>
                        <h2 class="text-blue-d1">
                          {{ project }}
                        </h2>
                        <img [src]="imgLoghi" alt="logo">

                        <div class="mt-auto mb-4 text-dark-tp3">
                          {{ project }} © {{ year }}
                        </div>
                      </div>
                    </div>

                  </div>
                </div>
              </div>

              <!-- Right side with login form -->
              <div class="col-12 col-lg-7 py-lg-5 bgc-white px-0">

                <div class="tab-content tab-sliding border-0 p-0" data-swipe="right">

                  <!-- Login form panel -->
                  <div class="tab-pane active show mh-100 px-3 px-lg-0 pb-3" id="id-tab-login">
                    <app-login></app-login>
                  </div>

                </div>
              </div>

            </div>

          </div>
        </div>

        <!-- Copyright below main login box -->
        <div class="d-lg-none my-3 text-white-tp1 text-center">
          {{ project }} © {{ year }}
        </div>
      </div>
    </div>

  </div>

</div>