<!-- Header -->
<div class="page-header">
  <h1 class="page-title text-primary-d2">
    <span (click)="goBack()">Microesperienze</span>
    <small class="page-info text-secondary-d2">
      <span class="fa fa-angle-double-right text-80"></span>
      {{ isEditing ? 'Modifica' : 'Inserimento' }}
    </small>
  </h1>
  <div>
    <button class="btn btn-danger btn-sm" type="button" (click)="goBack()">
      <span class="fa fa-times mr-1"></span>
      Chiudi
    </button>
  </div>
</div>

<!-- Content -->
<div class="row">
  <div class="col-12">
    <!-- Form -->
    <div class="card">
      <div class="card-body px-2">
        <div class="col-12 tabs-above">
          <!-- Tabs label -->
          <ul class="nav nav-tabs nav-justified" role="tablist">
            <!-- Info label -->
            <li class="nav-item mr-1px">
              <a
                class="nav-link active text-left radius-0"
                id="home-tab"
                data-toggle="tab"
                href="#info"
                role="tab"
                aria-controls="home"
                aria-selected="true"
              >
                <span class="fa fa-edit text-blue-m1 mr-3px"></span>
                Informazioni Base
              </a>
            </li>
            <!-- Category label -->
            <li class="nav-item">
              <a
                class="nav-link text-left radius-0"
                id="category-tab"
                data-toggle="tab"
                href="#category"
                role="tab"
                aria-controls="category"
                aria-selected="true"
              >
                <span class="fa fa-folder-open text-pink-m2 mr-3px"></span>
                Categorie
              </a>
            </li>
            <!-- Availability label -->
            <li class="nav-item">
              <a
                class="nav-link text-left radius-0"
                id="availability-tab"
                data-toggle="tab"
                href="#availability"
                role="tab"
                aria-controls="availability"
                aria-selected="true"
              >
                <span class="fa fa-calendar text-pink-m2 mr-3px"></span>
                Disponibilità
              </a>
            </li>
            <!-- Multilanguage label -->
            <li class="nav-item">
              <a
                class="nav-link text-left radius-0"
                id="profile-tab"
                data-toggle="tab"
                href="#multilanguage"
                role="tab"
                aria-controls="profile"
                aria-selected="false"
              >
                <span class="fa fa-flag text-pink-m2 mr-3px"></span> Multilingua
              </a>
            </li>
          </ul>

          <!-- Tabs content -->
          <div class="tab-content rounded-bottom">
            <!-- Info content -->
            <div
              class="tab-pane fade show active"
              id="info"
              role="tabpanel"
              aria-labelledby="info-tab"
            >
              <app-basic-info-tab
                [isEditing]="isEditing"
                [(data)]="basicInfo"
                [(image)]="image"
                [(gallery)]="gallery"
                (basicInfoValid)="onInfoValidation($event)"
              >
              </app-basic-info-tab>
            </div>
            <!-- Category content -->
            <div
              class="tab-pane fade"
              id="category"
              role="tabpanel"
              aria-labelledby="category-tab"
            >
              <app-category-tab
                [isEditing]="isEditing"
                [(categories)]="categories"
                [allCategories]="allCategories"
                (categoriesValid)="onCategoriesValidation($event)"
              >
              </app-category-tab>
            </div>
            <!-- Availability content -->
            <div
              class="tab-pane fade"
              id="availability"
              role="tabpanel"
              aria-labelledby="availability-tab"
            >
              <app-availability-tab
                [(slots)]="availability"
                [experienceTitle]="basicInfo.title"
                [duration]="basicInfo.duration"
              ></app-availability-tab>
            </div>
            <!-- Multilanguage content -->
            <div
              class="tab-pane fade"
              id="multilanguage"
              role="tabpanel"
              aria-labelledby="multilanguage-tab"
            >
              <app-multilanguage-tab
                [isEditing]="isEditing"
                [(multilanguage)]="description"
                (multilanguageValid)="onMultilanguageValidation($event)"
              >
              </app-multilanguage-tab>
            </div>
          </div>
        </div>

        <!-- Save section -->
        <div class="mt-1 border-1 brc-secondary-l1 bgc-secondary-l3 py-3">
          <div class="col text-right">
            <button
              class="btn btn-warning"
              [disabled]="!overallValid"
              (click)="onSave()"
            >
              <span class="fa fa-save mr-1"></span>
              Salva
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
