<footer id="footer_includer" class="footer d-none d-sm-block">
  <div class="footer-inner bgc-white-tp1">
    <div class="pt-3 border-none border-t-3 brc-grey-l1 border-double">
      <span class="text-primary-m2 font-bolder text-120">{{ partners }} </span>
      <span class="text-muted">{{ project }} © {{ year }}</span>
    </div>
  </div>
</footer>