<form [formGroup]="form">
  <div class="form-group row">
    <div class="mb-1 mb-sm-0 col-sm-3 col-form-label text-sm-right pr-0">
      <label for="id-form-field-title" class="mb-0">Titolo</label>
    </div>
    <div class="col-sm-9 input-floating-label text-blue-d1 brc-blue-m1">
      <input
        formControlName="title"
        id="id-form-field-title"
        type="text"
        class="form-control col-sm-8 col-md-6"
      />
    </div>
  </div>

  <div class="form-group row">
    <div class="mb-1 mb-sm-0 col-sm-3 col-form-label text-sm-right pr-0">
      <label for="id-form-field-address" class="mb-0">Indirizzo</label>
    </div>
    <div class="col-sm-9 input-floating-label text-blue-d1 brc-blue-m1">
      <input
        formControlName="address"
        id="id-form-field-address"
        type="text"
        class="form-control col-sm-8 col-md-6"
      />
    </div>
  </div>

  <div formGroupName="coords" class="form-group row">
    <div class="mb-1 mb-sm-0 col-sm-3 col-form-label text-sm-right pr-0">
      <label class="mb-0">Coordinate</label>
    </div>
    <div
      class="col-sm-3 col-md-2 input-floating-label text-blue-d1 brc-blue-m1 pr-0"
    >
      <input
        formControlName="latitude"
        type="number"
        class="form-control shadow-none"
        autocomplete="off"
      />
      <span
        class="floating-label text-grey-m3"
        *ngIf="form.value.coords.latitude === ''"
      >
        Latitudine
      </span>
    </div>
    <div
      class="col-sm-3 col-md-2 input-floating-label text-blue-d1 brc-blue-m1 pr-0"
    >
      <input
        formControlName="longitude"
        type="number"
        class="form-control shadow-none"
        autocomplete="off"
      />
      <span
        class="floating-label text-grey-m3"
        *ngIf="form.value.coords.latitude === ''"
      >
        Longitudine
      </span>
    </div>
    <div class="col-sm-5 input-floating-label text-blue-d1 brc-blue-m1"></div>
  </div>

  <div class="form-group row">
    <div class="mb-1 mb-sm-0 col-sm-3 col-form-label text-sm-right pr-0">
      <label for="id-form-field-select-1" class="mb-0">Angel</label>
    </div>
    <div class="col-sm-9 input-floating-label text-blue-d1 brc-blue-m1">
      <select
        formControlName="angelId"
        class="form-control col-sm-8 col-md-6"
        id="form-field-select-1"
      >
        <option
          *ngFor="let angel of allAngels"
          [selected]="angel._id === data.angelId"
          [value]="angel._id"
        >
          {{ angel.name }} {{ angel.surname }}
        </option>
      </select>
    </div>
  </div>

  <div class="form-group row">
    <div class="mb-1 mb-sm-0 col-sm-3 col-form-label text-sm-right pr-0">
      <label for="id-form-field-qrcode" class="mb-0">QR Code Id</label>
    </div>
    <div class="col-sm-9 input-floating-label text-blue-d1 brc-blue-m1">
      <input
        formControlName="qrCodeId"
        id="id-form-field-qrcode"
        type="text"
        class="form-control col-sm-8 col-md-6"
      />
    </div>
  </div>

  <div class="form-group row">
    <div class="mb-1 mb-sm-0 col-sm-3 col-form-label text-sm-right pr-0">
      <label for="id-form-field-duration" class="mb-0">Durata</label>
    </div>
    <div class="col-sm-9 input-floating-label text-blue-d1 brc-blue-m1">
      <input
        formControlName="duration"
        id="id-form-field-duration"
        placeholder="hh:mm"
        type="text"
        class="form-control col-sm-8 col-md-6"
      />
    </div>
  </div>

  <div class="form-group row">
    <div class="mb-1 mb-sm-0 col-sm-3 col-form-label text-sm-right pr-0">
      <label class="mb-0">Foto</label>
    </div>
    <div class="col-sm-9 input-floating-label text-blue-d1 brc-blue-m1">
      <div class="row ml-0 align-items-center">
        <div class="col-sm-8 col-md-6 ml-0 pl-0">
          <label class="ace-file-input">
            <input
              type="file"
              class="ace-file-input"
              id="ace-file-input1"
              autocomplete="off"
              (change)="retrieveFile($event)"
            />
            <div
              class="ace-file-container d-flex flex-column border-1 brc-grey-l2 brc-h-warning-m1"
            >
              <div class="ace-file-placeholder h-100">
                <span
                  class="ace-file-icon align-self-center mx-2px"
                  *ngIf="!image"
                >
                  <i
                    class="fa fa-upload bgc-grey-m1 text-white w-4 py-2 text-center"
                  ></i>
                </span>
                <span
                  class="ace-file-icon align-self-center mx-2px"
                  *ngIf="image"
                >
                  <i
                    class="fa fa-image bgc-purple-m1 text-white w-4 py-2 text-center"
                  ></i>
                </span>
                <span class="ace-file-name text-grey-m2 px-1" *ngIf="!image"
                  >No file chosen</span
                >
                <span class="ace-file-name text-grey-m2 px-1" *ngIf="image">{{
                  image.name
                }}</span>
                <span
                  class="ace-file-btn ml-auto bgc-default text-white px-2 pt-2 text-90 my-1px mr-1px"
                  >Choose</span
                >
              </div>
            </div>
          </label>
        </div>
        <div class="col-sm-4 col-md-6">
          <span *ngIf="image" (click)="onRemoveImage()">
            <i class="fa fa-times text-danger-m2 text-130"></i>
          </span>
        </div>
      </div>
    </div>
  </div>

  <div class="form-group row" *ngIf="gallery.length === 0">
    <div class="mb-1 mb-sm-0 col-sm-3 col-form-label text-sm-right pr-0">
      <label class="mb-0">Galleria</label>
    </div>

    <div class="col-sm-9 input-floating-label text-blue-d1 brc-blue-m1">
      <div class="row ml-0 align-items-center">
        <div class="col-sm-8 col-md-6 ml-0 pl-0">
          <label class="ace-file-input">
            <input
              type="file"
              class="ace-file-input"
              id="ace-file-input-gallery"
              autocomplete="off"
              (change)="updateGallery($event, 0)"
            />
            <div
              class="ace-file-container d-flex flex-column border-1 brc-grey-l2 brc-h-warning-m1"
            >
              <div class="ace-file-placeholder h-100">
                <span class="ace-file-icon align-self-center mx-2px">
                  <i
                    class="fa fa-upload bgc-grey-m1 text-white w-4 py-2 text-center"
                  ></i>
                </span>
                <span class="ace-file-name text-grey-m2 px-1"
                  >No file chosen</span
                >
                <span
                  class="ace-file-btn ml-auto bgc-default text-white px-2 pt-2 text-90 my-1px mr-1px"
                  >Choose</span
                >
              </div>
            </div>
          </label>
        </div>
      </div>
    </div>
  </div>

  <div class="form-group row" *ngIf="gallery.length > 0">
    <div class="mb-1 mb-sm-0 col-sm-3 col-form-label text-sm-right pr-0">
      <label class="mb-0">Galleria</label>
    </div>

    <div
      *ngFor="let image of gallery; let i = index"
      [ngClass]="{ 'offset-sm-3': i > 0 }"
      class="col-sm-9 input-floating-label text-blue-d1 brc-blue-m1"
    >
      <div class="row ml-0 align-items-center">
        <div class="col-sm-8 col-md-6 ml-0 pl-0">
          <label class="ace-file-input">
            <input
              type="file"
              class="ace-file-input"
              [id]="'ace-file-input-gallery-' + i"
              autocomplete="off"
              (change)="updateGallery($event, i)"
            />
            <div
              class="ace-file-container d-flex flex-column border-1 brc-grey-l2 brc-h-warning-m1"
            >
              <div class="ace-file-placeholder h-100">
                <span
                  class="ace-file-icon align-self-center mx-2px"
                  *ngIf="!image"
                >
                  <i
                    class="fa fa-upload bgc-grey-m1 text-white w-4 py-2 text-center"
                  ></i>
                </span>
                <span
                  class="ace-file-icon align-self-center mx-2px"
                  *ngIf="image"
                >
                  <i
                    class="fa fa-image bgc-purple-m1 text-white w-4 py-2 text-center"
                  ></i>
                </span>
                <span class="ace-file-name text-grey-m2 px-1" *ngIf="!image"
                  >No file chosen</span
                >
                <span class="ace-file-name text-grey-m2 px-1" *ngIf="image">{{
                  image.name
                }}</span>
                <span
                  class="ace-file-btn ml-auto bgc-default text-white px-2 pt-2 text-90 my-1px mr-1px"
                  >Choose</span
                >
              </div>
            </div>
          </label>
        </div>
        <div class="col-sm-4 col-md-6">
          <div class="row">
            <span *ngIf="image" (click)="onRemoveGalleryImage(i)">
              <i class="fa fa-times text-danger-m2 text-130"></i>
            </span>
            <span *ngIf="image" class="ml-3" (click)="onAddGalleryimage()">
              <i class="fa fa-plus text-success-m2 text-120"></i>
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>
