<!-- Header -->
<div class="page-header">
  <h1 class="page-title text-primary-d2">
    <span (click)="goBack()">Ospiti</span>
    <small class="page-info text-secondary-d2">
      <i class="fa fa-angle-double-right text-80"></i> Modifica
    </small>
  </h1>
  <div>
    <button class="btn btn-danger btn-sm" type="button" (click)="goBack()">
        <i class="fa fa-times mr-1"></i>
        Chiudi
    </button>
  </div>
</div>

<!-- Content -->
<div class="row">
  <div class="col-12">
    <!-- Form -->
    <div class="card">
      <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <div class="card-body px-2">
          <!-- Tabs content -->
          <div class="col-12 tabs-above">
            <!-- Info content -->
            <div class="tab-pane fade show active" id="info" role="tabpanel" aria-labelledby="info-tab">
              <div class="form-group row justify-content-center" *ngIf="angelId">
                <div class="col-md-5 pl-md-5">
                  <label for="id-form-field-2" class="mb-0">Questo ospite è anche un Angel!</label>
                </div>
              </div>
              <div class="form-group row">
                <div class="mb-1 mb-sm-0 col-sm-3 col-form-label text-sm-right pr-0">
                  <label for="id-form-field-2" class="mb-0">Nome</label>
                </div>
                <div class="col-sm-9 input-floating-label text-blue-d1 brc-blue-m1">
                  <input formControlName="name" type="text" class="form-control col-sm-8 col-md-6" id="id-form-field-1">
                </div>
              </div>
              <div class="form-group row">
                <div class="mb-1 mb-sm-0 col-sm-3 col-form-label text-sm-right pr-0">
                  <label for="id-form-field-2" class="mb-0">Cognome</label>
                </div>
                <div class="col-sm-9 input-floating-label text-blue-d1 brc-blue-m1">
                  <input formControlName="surname" type="text" class="form-control col-sm-8 col-md-6" id="id-form-field-1">
                </div>
              </div>
              <div class="form-group row">
                <div class="mb-1 mb-sm-0 col-sm-3 col-form-label text-sm-right pr-0">
                  <label for="id-form-field-2" class="mb-0">Data di nascita</label>
                </div>
                <div class="col-sm-9 input-floating-label text-blue-d1 brc-blue-m1">
                  <input formControlName="birthDate" placeholder="GG/MM/YYYY" type="text" class="form-control form-control-lg col-sm-8 col-md-6 shadow-none" id="date" style="font-size:1rem;">
                </div>
              </div>
              <div class="form-group row">
                <div class="mb-1 mb-sm-0 col-sm-3 col-form-label text-sm-right pr-0">
                  <label for="id-form-field-2" class="mb-0">Telefono</label>
                </div>
                <div class="col-sm-9 input-floating-label text-blue-d1 brc-blue-m1">
                  <input formControlName="phoneNumber" placeholder="3334567890" type="text" class="form-control col-sm-8 col-md-6" id="id-form-field-1">
                </div>
              </div>
              <div class="form-group row" *ngIf="email">
                <div class="mb-1 mb-sm-0 col-sm-3 col-form-label text-sm-right pr-0">
                  <label for="id-form-field-2" class="mb-0">Email</label>
                </div>
                <div class="col-sm-9 input-floating-label text-blue-d1 brc-blue-m1">
                  <input type="text" class="form-control col-sm-8 col-md-6" id="id-form-field-1" [value]="email" disabled>
                </div>
              </div>
              <div class="form-group row">
                <div class="mb-1 mb-sm-0 col-sm-3 col-form-label text-sm-right pr-0">
                  <label for="id-form-field-2" class="mb-0">Foto</label>
                </div>
                <div class="col-sm-9 input-floating-label text-blue-d1 brc-blue-m1">
                  <div class="row ml-0 align-items-center">
                    <div class="col-10 col-sm-8 col-md-6 ml-0 pl-0">
                      <label class="ace-file-input">
                        <input type="file" class="ace-file-input" id="file" autocomplete="off" (change)="retrieveFile($event)">
                        <div class="ace-file-container d-flex flex-column border-1 brc-grey-l2 brc-h-warning-m1">
                          <div class="ace-file-placeholder h-100">
                            <span class="ace-file-icon align-self-center mx-2px" *ngIf="!imageFile">
                              <i class="fa fa-upload bgc-grey-m1 text-white w-4 py-2 text-center"></i>
                            </span>
                            <span class="ace-file-icon align-self-center mx-2px" *ngIf="imageFile">
                              <i class="fa fa-image bgc-purple-m1 text-white w-4 py-2 text-center"></i>
                            </span>
                            <span class="ace-file-name text-grey-m2 px-1" *ngIf="imageFile === ''">No file chosen</span>
                            <span class="ace-file-name text-grey-m2 px-1" *ngIf="imageFile !== ''">{{ imageFile }}</span>
                            <span class="ace-file-btn ml-auto bgc-default text-white px-2 pt-2 text-90 my-1px mr-1px">Choose</span>
                          </div>
                        </div>
                      </label>
                    </div>
                    <div class="col-2 col-sm-4 col-md-6">
                      <span *ngIf="imageFile !== ''" (click)="onRemoveImage()">
                        <i class="fa fa-times text-danger-m2 text-130"></i>
                      </span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- Save section -->
        <div class="col-12 mt-1 border-1 brc-secondary-l1 bgc-secondary-l3 py-3">
          <div class="row justify-content-end">
            <div class="col-9 col-md-10" *ngIf="email">
              <button class="btn btn-light-blue" disabled>
                <i class="fa fa-envelope mr-1"></i>
                Cambia email
              </button>
              <button class="btn btn-light-danger ml-1" disabled>
                <i class="fa fa-key mr-1"></i>
                Resetta password
              </button>
            </div>
            <div class="col-3 col-md-2 text-right">
              <button class="btn btn-warning" [disabled]="!form.valid">
                <i class="fa fa-save mr-1"></i>
                Salva
              </button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>

</div>