<div class="modal-header">
  <h5 class="modal-title">Crea evento</h5>

  <button class="close" (click)="onClose()" type="button" data-dismiss="modal">
    &times;
  </button>
</div>

<div class="modal-body m-2">
  <form [formGroup]="form" class="tab-content mx-n3 mx-md-0">
    <div class="form-group row">
      <div class="mb-1 mb-sm-0 col-md-3 col-form-label text-md-right pr-0">
        <label class="mb-0">Titolo</label>
      </div>
      <div
        class="col-sm-12 col-md-8 input-floating-label text-blue-d1 brc-blue-m1"
      >
        <input formControlName="title" type="text" class="form-control" />
      </div>
    </div>

    <div class="form-group row">
      <div class="mb-1 mb-sm-0 col-md-3 col-form-label text-md-right pr-0">
        <label class="mb-0">Data</label>
      </div>
      <div
        class="col-sm-12 col-md-8 input-floating-label text-blue-d1 brc-blue-m1"
      >
        <input
          formControlName="date"
          type="text"
          id="date"
          class="form-control"
          placeholder="GG/MM/YYYY"
          autocomplete="off"
        />
      </div>
    </div>

    <div class="form-group row">
      <div class="mb-1 mb-sm-0 col-md-3 col-form-label text-md-right pr-0">
        <label class="mb-0">Ora</label>
      </div>
      <div
        class="col-sm-12 col-md-8 input-floating-label text-blue-d1 brc-blue-m1"
      >
        <input
          formControlName="hour"
          type="text"
          class="form-control"
          placeholder="hh:mm"
          autocomplete="off"
        />
      </div>
    </div>

    <div class="form-group row">
      <div class="mb-1 mb-sm-0 col-md-3 col-form-label text-md-right pr-0">
        <label class="mb-0">Fino a</label>
      </div>
      <div
        class="col-sm-12 col-md-8 input-floating-label text-blue-d1 brc-blue-m1"
      >
        <input
          formControlName="until"
          type="text"
          id="until"
          class="form-control"
          placeholder="GG/MM/YYYY"
          autocomplete="off"
          [ngClass]="{ 'not-valid': form.errors?.untilNotValid }"
        />
      </div>
    </div>

    <div class="form-group row">
      <div class="mb-1 mb-sm-0 col-md-3 col-form-label text-md-right pr-0">
        <label class="mb-0">Quali giorni?</label>
      </div>
      <div
        class="col-sm-12 col-md-8 input-floating-label text-blue-d1 brc-blue-m1"
      >
        <select
          formControlName="whichDays"
          multiple
          size="7"
          class="form-control"
        >
          <option value="0">Lunedì</option>
          <option value="1">Martedì</option>
          <option value="2">Mercoledì</option>
          <option value="3">Giovedì</option>
          <option value="4">Venerdì</option>
          <option value="5">Sabato</option>
          <option value="6">Domenica</option>
        </select>
      </div>
    </div>

    <div class="row justify-content-center">
      <button
        (click)="onSubmit()"
        [disabled]="!form.valid"
        class="btn btn-sm btn-success btn-bold px-4"
      >
        <span class="fa fa-check mr-2px"></span> Salva
      </button>

      <button
        *ngIf="dayClicked"
        (click)="onCancelAll()"
        class="btn btn-sm btn-danger btn-bold ml-2px px-4"
      >
        <span class="far fa-trash-alt text-120 mr-2px"></span> Tutti
      </button>

      <button
        *ngIf="dayClicked"
        (click)="onCancelOne()"
        class="btn btn-sm btn-danger btn-bold ml-2px px-3"
      >
        <span class="far fa-trash-alt text-120 mr-2px"></span> Una data
      </button>
    </div>
  </form>
</div>
