<div id="sidebar" class="sidebar sidebar-fixed expandable sidebar-default" [ngClass]="isSidebarOpened ? 'sidebar-visible' : 'sidebar-hidden'">
  <div class="sidebar-inner">

    <div class="flex-grow-1 ace-scroll" ace-scroll="">

      <ul class="nav has-active-border" role="navigation" aria-label="Main">

        <li class="nav-item active open">
          <div class="hideable submenu collapse" [ngClass]="{'show': isSidebarOpened}">
            <ul class="submenu-inner">
              <li id="sidebar-angel" class="nav-item" [ngClass]="{'active': activeLink.angels}">
                <a class="nav-link" (click)="onNavigate()"
                   [routerLink]="['/angels']" routerLinkActive="router-link-active">
                  <span class="nav-text">
                    <span>Angel</span>
                  </span>
                </a>
              </li>
              <li id="sidebar-utenti" class="nav-item" [ngClass]="{'active': activeLink.guests}">
                <a class="nav-link" (click)="onNavigate()"
                   [routerLink]="['/guests']" routerLinkActive="router-link-active">
                  <span class="nav-text">
                    <span>Ospiti</span>
                  </span>
                </a>
              </li>
              <li id="sidebar-microesperienze" class="nav-item" [ngClass]="{'active': activeLink.microexperiences}">
                <a class="nav-link" (click)="onNavigate()"
                   [routerLink]="['/microexperiences']" routerLinkActive="router-link-active">
                  <span class="nav-text">
                    <span>Microesperienze</span>
                  </span>
                </a>
              </li>              
              <li id="sidebar-recensioni" class="nav-item" [ngClass]="{'active': activeLink.reviews}">
                <a class="nav-link" (click)="onNavigate()"
                   [routerLink]="['/reviews']" routerLinkActive="router-link-active">
                  <span class="nav-text">
                    <span>Recensioni</span>
                  </span>
                </a>
              </li>
            </ul>
          </div>
        </li>
      </ul>
    </div>

  </div>
</div>