<!-- Header -->
<div class="page-header">
  <h1 class="page-title text-primary-d2">
    <span (click)="goBack()">Recensioni Microesperienze</span>
    <small class="page-info text-secondary-d2">
      <i class="fa fa-angle-double-right text-80"></i> Visualizzazione
    </small>
  </h1>
  <div>
    <button class="btn btn-danger btn-sm" type="button" (click)="goBack()">
        <i class="fa fa-times mr-1"></i>
        Chiudi
    </button>
  </div>
</div>

<!-- Content -->
<div class="row">
  <div class="col-12">
      <div class="card">
          <div class="card-body px-2">
            <div class="form-group row">
                <div class="mb-1 mb-sm-0 col-md-3 text-sm-right pr-0">
                    <label for="experience" class="mb-0">MicroEsperienza</label>
                </div>
                <div class="col-sm-12 col-md-9 font-bolder">
                    {{ experienceName }}
                </div>
            </div>
            <div class="form-group row">
                <div class="mb-1 mb-sm-0 col-md-3 col-form-label text-sm-right pr-0">
                    <label for="terminal-id" class="mb-0">ID Terminale</label>
                </div>
                <div class="col-sm-12 col-md-9 input-floating-label text-blue-d1 brc-blue-m1">
                    <div type="text" id="terminal-id"
                           class="form-control col-sm-8 col-md-6 has-content">
                      {{ review ? review.terminalId : '' }}
                    </div>
                </div>
            </div>
            <div class="form-group row">
                <div class="mb-1 mb-sm-0 col-md-3 col-form-label text-sm-right pr-0">
                    <label for="user" class="mb-0">Utente</label>
                </div>
                <div class="col-sm-12 col-md-9 input-floating-label text-blue-d1 brc-blue-m1">
                    <div type="text" id="user" class="form-control col-sm-8 col-md-6 has-content">
                      {{ guestName }}
                    </div>
                </div>
            </div>
            <div class="form-group row">
                <div class="mb-1 mb-sm-0 col-sm-3 col-form-label text-sm-right pr-0">
                    <label for="rating" class="mb-0">Rating</label>
                </div>
                <div class="col-sm-9 align-self-center input-floating-label text-blue-d1 brc-blue-m1">
                    <span class="fa fa-star text-warning" *ngFor="let rate of rating"></span>
                </div>
            </div>
            <div class="form-group row">
                <div class="mb-1 mb-sm-0 col-sm-3 col-form-label text-sm-right pr-0">
                    <label for="comment" class="mb-0">Commento</label>
                </div>
                <div class="col-sm-9 input-floating-label text-blue-d1 brc-blue-m1">
                    <div type="text" id="comment"
                           class="form-control col-sm-8 col-md-6">
                      {{ review ? review.comment : '' }}
                    </div>
                </div>
            </div>
          </div>
      </div>
      <div class="mt-1 border-1 brc-secondary-l1 bgc-secondary-l3 py-3"></div>
  </div>

</div>
