<div class="page-header">
    <h1 class="page-title text-primary-d2">
        Angel
        <small class="page-info text-secondary-d2">
            <i class="fa fa-angle-double-right text-80"></i>
            Elenco
        </small>
    </h1>
    <div>
        <button class="btn btn-info btn-sm mr-3" type="button" (click)="onUpdate()">
            <i class="fa fa-sync-alt mr-1"></i>
            Aggiorna
        </button>
        <button class="btn btn-warning btn-sm" type="button" (click)="onCreate()">
            <i class="fa fa-plus mr-1"></i>
            Aggiungi
        </button>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <table id="simple-table" class="table table-bordered table-bordered-x table-hover text-dark-m2">
            <thead class="text-dark-m3 bgc-grey-l4">
                <tr>
                    <th class="text-center pr-0">
                        <label>
                            <input type="checkbox" autocomplete="off" #checkboxSelection
                                class="align-bottom" (click)="onSelectAll()"
                                [disabled]="angels.length === 0">
                        </label>
                    </th>
                    <th>Cognome</th>
                    <th>Nome</th>
                    <th>
                        <!-- Action for lg+ displays -->
                        <div class="d-none d-lg-flex text-muted justify-content-center">
                            <a (click)="onDeleteAll()" *ngIf="allSelected"
                                class="btn radius-1 btn-sm btn-brc-tp btn-outline-default btn-h-outline-danger btn-a-outline-danger btn-text-danger">
                                <i class="fa fa-trash-alt text-danger"></i>
                            </a>
                        </div>

                        <!-- Actions for lg- displays -->
                        <div class="dropdown d-inline-block d-lg-none dd-backdrop dd-backdrop-none-md">
                            <a (click)="onDeleteAll()" *ngIf="allSelected"
                                class="btn btn-outline-danger btn-xs radius-round btn-xs-plus">
                                <i class="fa fa-trash text-100 text-danger"></i>
                            </a>
                        </div>

                    </th>

                </tr>
            </thead>

            <tbody>
                <tr class="bgc-h-default-l3 d-style" *ngFor="let angel of angels; let i = index">
                    <td class="text-center pr-0 pos-rel">
                        <div class="position-tl h-100 ml-n1px border-l-4 brc-info-m1 v-hover"></div>
                        <div class="position-tl h-100 ml-n1px border-l-4 brc-success-m1 v-active"></div>

                        <label>
                            <input type="checkbox" class="align-middle" autocomplete="off" [checked]="false" [id]="'checkbox' + i">
                        </label>
                    </td>
                    <td>{{ angel.surname }}</td>
                    <td>{{ angel.name }}</td>
                    <td>
                        <!-- Action for lg+ displays -->
                        <div class="d-none d-lg-flex text-muted justify-content-center">
                            <a (click)="onModify(i)"
                                class="btn radius-1 btn-sm btn-brc-tp btn-outline-default btn-h-outline-primary btn-a-outline-primary btn-text-primary">
                                <i class="fa fa-pencil-alt text-blue"></i>
                            </a>
                            <a (click)="onDelete(i)"
                                class="btn radius-1 btn-sm btn-brc-tp btn-outline-default btn-h-outline-danger btn-a-outline-danger btn-text-danger">
                                <i class="fa fa-trash-alt text-danger"></i>
                            </a>
                        </div>

                        <!-- Actions for lg- displays -->
                        <div class="dropdown d-inline-block d-lg-none dd-backdrop dd-backdrop-none-md">
                            <a class="btn btn-outline-warning btn-xs radius-round dropdown-toggle" data-toggle="dropdown">
                                <i class="fa fa-cog text-110 text-warning"></i>
                            </a>
                            <div class="dropdown-menu dd-slide-up dd-slide-none-md">
                                <div class="dropdown-inner">
                                    <a class="dropdown-item" (click)="onModify(i)">
                                        <i class="fa fa-pencil-alt text-blue-m1 mr-1 bgc-white-tp1 radius-round p-2 w-4"></i> Edit
                                    </a>
                                    <a class="dropdown-item" (click)="onDelete(i)">
                                        <i class="fa fa-trash text-danger-m1 mr-1 bgc-white-tp1 radius-round p-2 w-4"></i> Delete
                                    </a>
                                </div>
                            </div>
                        </div>

                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
