<div class="page-header">
  <h1 class="page-title text-primary-d2">
    Ospiti
    <small class="page-info text-secondary-d2">
      <span class="fa fa-angle-double-right text-80"></span>
      Elenco
    </small>
  </h1>
  <div>
    <button class="btn btn-info btn-sm mr-3" type="button" (click)="onUpdate()">
      <span class="fa fa-sync-alt mr-1"></span>
      Aggiorna
    </button>
  </div>
</div>

<div class="row">
  <div class="col-12">
    <table
      id="simple-table"
      class="table table-bordered table-bordered-x table-hover text-dark-m2"
    >
      <thead class="text-dark-m3 bgc-grey-l4">
        <tr>
          <th class="text-center pr-0">
            <label>
              <input
                type="checkbox"
                autocomplete="off"
                #checkboxSelection
                class="align-bottom"
                (click)="onSelectAll()"
                [disabled]="guests.length === 0"
              />
            </label>
          </th>
          <th>Cognome</th>
          <th>Nome</th>
          <th>
            <!-- Action for lg+ displays -->
            <div class="d-none d-lg-flex text-muted justify-content-center">
              <a
                (click)="onDeleteAll()"
                *ngIf="allSelected"
                class="btn radius-1 btn-sm btn-brc-tp btn-outline-default btn-h-outline-danger btn-a-outline-danger btn-text-danger"
              >
                <span class="fa fa-trash-alt text-danger"></span>
              </a>
            </div>

            <!-- Actions for lg- displays -->
            <div
              class="dropdown d-inline-block d-lg-none dd-backdrop dd-backdrop-none-md"
            >
              <a
                (click)="onDeleteAll()"
                *ngIf="allSelected"
                class="btn btn-outline-danger btn-xs radius-round btn-xs-plus"
              >
                <span class="fa fa-trash text-100 text-danger"></span>
              </a>
            </div>
          </th>
        </tr>
      </thead>

      <tbody>
        <tr
          class="bgc-h-default-l3 d-style"
          *ngFor="let guest of guests; let i = index"
        >
          <td class="text-center pr-0 pos-rel">
            <div
              class="position-tl h-100 ml-n1px border-l-4 brc-info-m1 v-hover"
            ></div>
            <div
              class="position-tl h-100 ml-n1px border-l-4 brc-success-m1 v-active"
            ></div>

            <label>
              <input
                type="checkbox"
                class="align-middle"
                autocomplete="off"
                [checked]="false"
                [id]="'checkbox' + i"
              />
            </label>
          </td>
          <td>{{ guest.surname === '' ? 'Anonimo' : guest.surname }}</td>
          <td>{{ guest.name }}</td>
          <td>
            <!-- Action for lg+ displays -->
            <div class="d-none d-lg-flex text-muted justify-content-center">
              <a
                (click)="onModify(i)"
                class="btn radius-1 btn-sm btn-brc-tp btn-outline-default btn-h-outline-primary btn-a-outline-primary btn-text-primary"
              >
                <span class="fa fa-pencil-alt text-blue"></span>
              </a>
              <a
                (click)="onDelete(i)"
                class="btn radius-1 btn-sm btn-brc-tp btn-outline-default btn-h-outline-danger btn-a-outline-danger btn-text-danger"
              >
                <span class="fa fa-trash-alt text-danger"></span>
              </a>
            </div>

            <!-- Actions for lg- displays -->
            <div
              class="dropdown d-inline-block d-lg-none dd-backdrop dd-backdrop-none-md"
            >
              <a
                class="btn btn-outline-warning btn-xs radius-round dropdown-toggle"
                data-toggle="dropdown"
              >
                <span class="fa fa-cog text-110 text-warning"></span>
              </a>
              <div class="dropdown-menu dd-slide-up dd-slide-none-md">
                <div class="dropdown-inner">
                  <a class="dropdown-item" (click)="onModify(i)">
                    <span
                      class="fa fa-pencil-alt text-blue-m1 mr-1 bgc-white-tp1 radius-round p-2 w-4"
                    ></span>
                    Edit
                  </a>
                  <a class="dropdown-item" (click)="onDelete(i)">
                    <span
                      class="fa fa-trash text-danger-m1 mr-1 bgc-white-tp1 radius-round p-2 w-4"
                    ></span>
                    Delete
                  </a>
                </div>
              </div>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
