/* You can add global styles to this file, and also import other style files */

/* Mark a form value as valid if validators are respected */
.ng-valid:not(div):not(form),
.ng-valid.required:not(div):not(form) {
    border-left: 5px solid #42A948 !important; /* green */
}

/* Mark a form value as to be filled when nothing as till happened */
.ng-invalid:not(form):not(div)  {
    border-left: 5px solid #d46e0d; /* orange */
}

/* Mark a form value as invalid if validators are not respected after an update */
.ng-touched.ng-invalid:not(form):not(div)  {
    border-left: 5px solid #a94442; /* red */
}

/* Add more padding to trash icon on outline style */
.btn.btn-xs.btn-xs-plus {
    padding-left: 0.7em;
    padding-right: 0.7em;
}