<div class="body-container">
  <app-navbar></app-navbar>

  <div class="main-container">
    <app-sidebar></app-sidebar>

    <div role="main" class="main-content">
      <div class="page-content container">
        <router-outlet></router-outlet>
      </div>
      <app-footer></app-footer>
    </div>
  </div>

</div>