<div class="form-group row">
  <div class="mb-1 mb-sm-0 col-md-3 col-form-label text-md-right pr-0 align-self-center">
    <label for="id-form-field-2" class="mb-0">Categorie</label>
  </div>

  <div *ngFor="let category of categories; let i = index" [ngClass]="{'offset-md-3': i > 0}"
    class="col-md-8 input-floating-label text-blue-d1 brc-blue-m1">
    <div class="row mx-0 my-3">
      <div class="col-sm-5 col-md-6 mb-3 mb-sm-0">
        <select class="form-control" id="form-field-select-1" (change)="updateCategory($event, i)">
          <option *ngFor="let item of categorySelection"
                  [selected]="category.categoryId === item._id"
                  [value]="item._id">
            {{ item.name }}
          </option>
        </select>
      </div>

      <div class="col-sm-5 col-md-6 offset-sm-1 offset-md-0">
        <ion-range-slider id="weight"
            type="single" skin="flat" [keyboard]="true"
            [min]="min" [max]="max" [step]="1"
            [from]="category.weigth" from_shadow="true"
            (onChange)="updateWeigth($event, i)"
        >
        </ion-range-slider>
      </div>
    </div>
  </div>

  <div class="col-12 mt-2">
    <div class="row justify-content-center">
      <button class="btn btn-warning" type="button" (click)="onAddCategory()">
        <i class="fa fa-plus mr-1"></i>Aggiungi
      </button>
    </div>
  </div>
</div>
